*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #3b3b3b;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

hr {
  color: #f1f1f1;
  border: 1px solid #f1f1f1; }

a {
  text-decoration: none;
  color: #6441a5; }

.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden; }

input.text {
  line-height: 28px;
  padding: 0 7px;
  height: 30px;
  font: inherit;
  letter-spacing: inherit;
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background: #fff; }

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  font-family: inherit;
  padding: 0;
  color: #6441a5;
  border: 0;
  background: none;
  outline: none; }

.button.primary {
  background: #6441a5;
  color: #fff;
  padding: 0 10px;
  font-size: 12px; }
  .button.primary:hover {
    color: #6441a5;
    background-color: #fff;
    border: 1px solid #6441a5; }

.button.primary.large {
  min-width: 40px;
  min-height: 20px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.top-nav {
  position: relative;
  height: 400px;
  width: 100%;
  background: #fff;
  margin-top: -350px; }
  .top-nav .bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0; }
    .top-nav .bottom .logo {
      float: left;
      margin-bottom: 8px; }
    .top-nav .bottom .search {
      float: right;
      margin-top: 0.2em;
      border-radius: 6px; }

.loc-img-area {
  height: 600px;
  background-color: #d5d5d5; }
  .loc-img-area .loc-img {
    position: relative;
    margin: 20px 0; }
    .loc-img-area .loc-img .loc-img-title {
      position: absolute;
      bottom: 60px;
      left: 0;
      padding: 0.1em 1em;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 3em;
      font-weight: 300;
      letter-spacing: 2px;
      border-radius: 0 4px 4px 0; }
      .loc-img-area .loc-img .loc-img-title a {
        color: #eee;
        text-shadow: 0 0 0 black, 0 0 0.1em #6441a5, 0 0 0.1em #6441a5; }

.loc-data {
  padding: 3em 2em 4em; }
  .loc-data .lqi, .loc-data .demographics {
    float: left;
    width: 50%;
    border: 1px solid #f1f1f1;
    border-radius: 6px; }
    .loc-data .lqi h2, .loc-data .demographics h2 {
      font-size: 2.6em;
      font-weight: 300;
      letter-spacing: 1.8px;
      width: 100%;
      color: #6441a5;
      background-color: #d0C3ff;
      border-bottom: 2px solid #6441a5;
      margin-bottom: 10px;
      padding-left: 1.6em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      border-radius: 6px 6px 0 0; }
    .loc-data .lqi .data, .loc-data .demographics .data {
      padding: 1em 4em; }
      .loc-data .lqi .data dl dt, .loc-data .demographics .data dl dt {
        display: inline-block;
        font-size: 1.6em;
        color: #6441a5; }
      .loc-data .lqi .data dl dd, .loc-data .demographics .data dl dd {
        display: inline-block;
        font-size: 1.4em;
        margin-left: 1.2em;
        font-weight: 500; }

/*# sourceMappingURL=styles.css.map */
