@import 'partials/general'

@import 'pieces/top-nav'
@import 'pieces/loc-img-area'

.loc-data
    padding: 1.5em 0
    .lqi, .demographics
        float: left
        width: 50%
        border: 1px solid red
