// top-nav
.top-nav
    position: relative
    height: 400px
    width: 100%
    background: #fff
    border-bottom: 1px solid purple
    margin-top: -340px

    .bottom
        width: 100%
        position: absolute
        bottom: 0
        right: 0

        .logo
            float: left
            margin-top: 8px

        .search
            float: right
            margin-top: 1em
            border-radius: 6px