// top-nav
.top-nav
    position: relative
    height: 400px
    width: 100%
    background: #fff
    margin-top: -350px

    .bottom
        width: 100%
        position: absolute
        bottom: 0
        right: 0

        .logo
            float: left
            margin-bottom: 8px

        .search
            float: right
            margin-top: 0.2em
            border-radius: 6px